<div *ngIf="tickets">
  <div class="search_block">
    <!--    <div>Всего туров: {{ticketsCount}}</div>-->
    <div>Всего туров: {{tickets.length}}</div>
    <div>Выбран тур: №{{blockDirective.activeElementIndex+1}} </div>

    <div>Поиск тура:
      <!--      <input #ticketSearchInput [(ngModel)]="ticketSearchValue" type="text" pInputText   />-->
      <input
        placeholder="Введите название"
        type="text"
        [(ngModel)]="inputSearch"
        (input)="searchTickets($event)"/>
    </div>

  </div>

  <div appBlocksStyle
       #tourWrap
       #blockDirective = 'blocksStyle'

       [selector]="'.ticket-item'"
       [initFirst]="true"
       (renderComplete)="directiveRenderComplete($event)"
       class = "d-flex flex-wrap justify-content-around"
  >

    <div class="ticket-item col-3 m-2"
         [id]="'ticket_'+i"
         (click)="goToTicketInfoPage(ticket)"
         *ngFor="let ticket of ticketsFiltered; let i = index">

      <img src="/assets/img/{{ticket.img}}"  />

      <div class="ticket-title">{{ticket.name}}</div>
      <div class="ticket-price">Стоимость: {{ ticket.price }}</div>

      <!--      <ng-container *ngFor="let ticket of ticketsFiltered">-->
      <!--        <div *ngIf="undefinedSearchTickets">-->
      <!--          Результаты не найдены-->
      <!--        </div>-->
      <!--      </ng-container>-->
    </div>
  </div>
</div>
