.search_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  margin: 1rem;
}
.filtered_count {
  font-weight: 700;
}
.ticket-item {
  height: 300px;
  border: 1px solid #6495ed;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & .ticket-title {
    padding: 2px;
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
  }

  & img {
    height: 220px;
    border-radius: 15px 15px 0 0;
  }

  & .ticket-price {
    padding: 2px;
    font-size: 1rem;
    color: cornflowerblue;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
  }
}
.ticket-item:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: all .3s ease-in-out;
}
