:host {
  height: 60px;
  width: 100%;
  display: block;
}
.time-block {
  position: absolute;
  right: 0;
  padding: 4px;
}
.login-svg {
  position: absolute;
  right: 150px;
  padding-top: 13px;
}
.login-block {
  position: absolute;
  right: 110px;
  color: black;
  padding-top: 13px;

}
